<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Admin login here</title>
</head>
<body style="background-color: cornsilk;">
    <header>
        <nav>
            <img src="logo.png" alt="">
            <div class="navigation">
                <ul>
                    <li><a href="/"><b>Home</b></a></li>
                    <li><a href="/about"><b>About Us</b></a></li>
                    <li><a href="/new"><b>New user?</b></a></li>
                    <li><a href="/admin"><b>Admin login</b></a></li>
                    <li><a href="/user"><b>User login</b></a></li>
                    <li><a href="/rate"><b>Rate us</b></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div style="height: 100px; width: 100%;"></div>

        <section  id="admin-login-form">
            <h2 style="text-align: center;">Admin Login</h2>
            <form action="/admin/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required placeholder="Provide your admin id">
        
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required placeholder="Only digits and letters with size > 5" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{5,}">

                <button style="color: rgb(11, 3, 19); background-color: rgb(211, 6, 50); border-radius: 15pt; margin-top: 10px; height: 40px; width: 100px; cursor: pointer; " type="submit">Login</button>
            </form>
        
        </section>
       <footer >
        <div id="contactus">
            <h3>Feel free to contact me</h3>
            mob: +91 9348483494 <br>
            email: chiranjibmohapatra2001@gmail.com 
        </div>
    </footer>
    <script src="main.js"></script>
</body>
</html>